#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.info
*.properties
*.jar
.DS_Store

/JavaRushPlugin.properties
/Instruction.png
/out
/out.log
/out.log.*
*.png